.hola-usuario {
    width: 100%;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
    text-decoration-line: underline;
    text-decoration-color: #963bff;
    text-decoration-thickness: 4px;
    justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 64px; 
  width: 100%         
}
.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
}

.primary-button {
  width: 280px;
  border-radius: 18px;
  text-align: center;
  margin-bottom: 30px
}