.landing-text {
  height: 272px;
  width: 833px;
  line-height: 40px;
  font-size: 28px;
}

.airbnb {
  color: #ff5a69;
  font-size: 22px;
  font-weight: 700;
  text-decoration-thickness: 3px;
  text-decoration-line: underline;
  letter-spacing: 1.4px;
}

.portal-inmobiliario {
  color: #e9d200;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

.iniciar {
  color: #963bff;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  font-weight: 700;
}

.property-expert-logo {
  font-size: 60px;
  font-family: "300 Inter-Normal", Helvetica;
  letter-spacing: 9.6px;
  line-height: 15px;
  color: #342b46;
  text-align: center;
}

.bajada {
  color: #342b46;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 1px;
  text-align: center;
}

.unordered-list {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  color: #342b46;
  list-style-type: disc;
}

.button-or-button {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 100px;
  justify-content: center;
  width: 100%;
}

.primary-button {
  background-color: #963bff;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  width: 200px;
}
.primary-button:hover {
  background-color: #7a4bff; /* Color más claro al pasar el mouse */
}
.primary-button:active {
  background-color: #842eff; /* Color aún más claro al hacer clic */
}
